@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Space Grotesk", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: #fff;
}
body {
  background-color: #fff;
}
.transition-effect {
  transition: all 0.4s ease;
}

* {
  scrollbar-width: thin;
  scrollbar-gutter: both-edges;
  scrollbar-color: #6b3ffd99 #6b3ffd1a;
}

.particle-connect-wallet-btn {
  background-color: #9949f8 !important;
  color: white !important;
  width: 200px !important;
}
